@import url("https://fonts.googleapis.com/css2?family=Neonderthaw&family=Rubik:wght@400;500;600;700&family=Varela+Round&display=swap");

.container {
  width: 180rem;
  height: 120rem;
  border: 5px solid #3f4e4f;
  border-radius: 4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: all 1s ease;
  box-shadow: 1rem 0.8rem 2rem #3f4e4f;
}

.hidden {
  height: 40rem;
  width: 100%;
  margin-top: 105rem;
  border-radius: 0;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
  transition: all 1s ease;
}

.hide-text {
  z-index: -1;
  opacity: 0;
}

.title {
  font-size: 18rem;
  font-weight: 1200;
  font-family: "Varela Round", sans-serif;
  opacity: 1;
  transition: all 1s ease;
  color: white;
  -webkit-text-stroke: 1px #3f4e4f;
  text-shadow: 1rem 1rem 1rem #3f4e4f;
}

.lower-title-size {
  font-size: 12rem;
  margin-top: 5rem;
  margin-bottom: -30rem;
}

p {
  font-size: 5rem;
  text-align: center;
  padding: 5rem;
  color: white;
}

.auth-group {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sign-up-text,
.log-in-text {
  font-size: 3rem;
}

.show-data-button {
  font-size: 4rem;
  padding: 1rem;
  border-radius: 4rem;
  outline: none;
  border: 4px solid white;
  background-color: #3f4e4f;
  color: white;
  padding: 1rem 4rem;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.show-data-button:hover {
  scale: 1.05;
  letter-spacing: 4px;
  cursor: pointer;
}

.auth {
  padding: 0.5rem 1rem;
  border: 3px solid white;
  transition: all 0.3s ease;
}

.auth:hover {
  transform: translateY(-10%);
  letter-spacing: 1px;
}
